@model List<MidModel>;
@{
    ViewData["Title"] = "Personagens";
}
<header class="position-absolute top-0 start-50 translate-middle logoHorizontal"
    style="background-image: url('../img/logos/logoHorizontal.png');">
    <div class="headerContent">

        <h3 id="fightersChecked">Selecione 16 Mid laners e inicie</h3>

    </div>
</header>


<div id="notification" class="notification">
    <h3 id="fightersCheckedN">Selecione mais 16 Mid laners</h3>
</div>

<button id="backTop" onclick="topFunction()" class="backToTop"><i class='bx bx-chevron-up'></i></button>

<form method="post" onsubmit="return countCheckbox();" action="@Url.Action("StartDuozin", "Duozin")">
    <div class="startButton">
        <button type="submit" class="start">Iniciar</button>
    </div>
    

    <div class="container-md listFighter">
        @foreach (var mid in Model)
        {
            <div id="@mid.Id" class="cardFighter" onclick="check('@mid.Name'); LutadorSelecionado(@mid.Id) "
            style="background-image: url('../img/personagens/@(mid.Name).png');" data-cardSelect>
                <div class="contentHover">
                    <h4>Lutas</h4>
                    <h4>Vitórias</h4>
                    <h4>Derrotas</h4>
                    <h4>Artes Marciais</h4>
                </div>
                <div class="leftBar">
                    <input style="display: none;" type="checkbox" Id="@mid.Name" name="@mid.Id" />
                    <div>
                        <h4>L</h4>
                        <p>@mid.Fights</p>
                    </div>
                    <div>
                        <h4>V</h4>
                        <p>@mid.Victories</p>
                    </div>
                    <div>
                        <h4>D</h4>
                        <p>@mid.Defeats</p>
                    </div>
                    <div>
                        <h4>AM</h4>
                        <p>@mid.MartialArts</p>
                    </div>
                </div>

                <div class="nomeIdade">
                    <h1>@mid.Name</h1>
                    <span>@mid.Age Anos</span>
                </div>


            </div>
        }
    </div>
</form>

<footer class="footer">
    <h3>Duozin?</h3>
</footer>