@model MidModel;
@{
    ViewData["Title"] = "Campeão";
}

<div>
    <img style="filter: brightness(15%); background-image: url('../img/personagens/@(Model.Name)w.jpg'); "
        class="imgWinner">
    <span class="position-absolute top-0 start-50 translate-middle logoVictory"
        style="background-image: url('../img/logos/victory.png');">
        <div class="headerContent-Winner">
            <div class="hextech-button">Visualizar vencedor</div>
        </div>
        <div class="contentWinner">
            <h1> @Model.Name</h1>
            <h2>@Model.Description</h2>

            <div class="bottomBar">
                <div>
                    <h4>L</h4>
                    <p>@Model.Fights</p>
                </div>
                <div>
                    <h4>V</h4>
                    <p>@Model.Victories</p>
                </div>
                <div>
                    <h4>D</h4>
                    <p>@Model.Defeats</p>
                </div>
                <div>
                    <h4>AM</h4>
                    <p>@Model.MartialArts</p>
                </div>
            </div>
        </div>
    </span>
</div>
